{% extends 'base.html' %}
{% block content-title %}
    <h1>Reset Password</h1>
{% endblock %}
{% block main-content %}
<div class="page-content">
    <div class="min-vh-80 py-5 d-flex align-items-center">
      <div class="w-100">
        <div class="row justify-content-center">
          <div class="col-sm-8 col-lg-6">
            <div class="card shadow zindex-100 mb-0">
              <div class="card-body px-md-6 py-6">
                <div class="mb-4">
                  <h6 class="h3">Change Password</h6>
                </div>
                <span class="clearfix"></span>
                
                <form action="" method="post">{% csrf_token %}
                    {{ form.email.errors }}
                    <div class="form-row align-items-center">
                        <div class=" form-group col-auto">
                            <label for="{{ form.email.id_for_label }}">Email:</label>&nbsp;&nbsp;&nbsp; &nbsp;{{ form.email }}
                        </div>
                    </div>
                    <input type="submit" class="btn btn-info" value="Reset Password"/>
                </form>
                
              </div>
              <div class="card-footer px-md-5"><small>Not registered?</small>
                <a href="#" class="small font-weight-bold">Create account</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    
{% endblock %}