{% extends 'base.html' %}
{% block content-title %}
    <h2 class="h3 font-weight-400 mb-0 text-white">{{ title }}</h2><br>
{% endblock %}
<!-- ToDo Work on FrontEnd -->
{% block main-content %}
<div class="row">
  <div class="col-lg-4">
    <!-- Profile storage -->
    <div class="card card-fluid">
      <div class="card-header">
        <h6 class="mb-0">Total Reservation</h6>
      </div>
      <div class="card-body">
        <div class="progress-circle progress-lg mx-auto" id="progress-circle-1" data-progress="75" data-text="{{ num_of_reservations }}" data-color="info">
        </div>

        <div class="d-flex my-4 px-5">
          <div class="col">
            <span class="badge badge-dot badge-lg h6">
              <i class="bg-success"></i>{{ available_num_rooms }}
            </span>
            <small class="d-block text-muted">Available</small>
          </div>
          <div class="col">
            <span class="badge badge-dot badge-lg h6">
              <i class="bg-warning"></i>{{ total_num_reservations }}
            </span>
            <small class="d-block text-muted">Reserved</small>
          </div>
        </div>
       
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <!-- Profile storage -->
    <div class="card card-fluid">
      <div class="card-header">
        <h6 class="mb-0">Total Check-Ins</h6>
      </div>
      <div class="card-body">
        <div class="progress-circle progress-lg mx-auto" id="progress-circle-1" data-progress="75" data-text="{{ num_of_check_ins }}" data-color="success">
        </div>

        <div class="d-flex my-4 px-5">
          <div class="col">
            <span class="badge badge-dot badge-lg h6">
              <i class="bg-success"></i>{{ available_num_rooms }}
            </span>
            <small class="d-block text-muted">Available</small>
          </div>
          <div class="col">
            <span class="badge badge-dot badge-lg h6">
              <i class="bg-warning"></i>{{ total_num_reservations }}
            </span>
            <small class="d-block text-muted">Reserved</small>
          </div>
        </div>
       
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <!-- Profile storage -->
    <div class="card card-fluid">
      <div class="card-header">
        <h6 class="mb-0">Last Check-In</h6>
      </div>
      <div class="card-body">
        <div class="">
          {% if last_checked_in.id %}
          <p class="card-title"><a href="{% url 'check_in-detail' last_checked_in.id %}">{{ last_checked_in }}</a><p>
          {% else %}
          <div class="card-title">Not Yet</div>
          {% endif %}
                      
        </div>
       
      </div>
    </div>
  </div>

{% endblock %}
