{% extends 'base.html' %}
{% load i18n %}
{% block content-title %}
    <h2 class="h3 font-weight-400 mb-0 text-white">{{ title }}</h2><br>
{% endblock %}
{% block main-content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ reservation_form.non_field_errors }}


        <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="title">Personal Information</h5>
              </div>
              <div class="card-body">
                
                <div class="row">
                    <div class="col-md-4 pr-1">
                      <div class="form-group">
                        {{ reservation_form.first_name.errors }}
                        <label for="{{ reservation_form.first_name.id_for_label }}">First Name</label>
                        {{ reservation_form.first_name }}
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                        <div class="form-group">
                            {{ reservation_form.middle_name.errors }}
                          <label for="{{ reservation_form.middle_name.id_for_label }}">Middle Name</label>
                          {{ reservation_form.middle_name }}
                        </div>
                      </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        {{ reservation_form.last_name.errors }}
                        <label for="{{ reservation_form.last_name.id_for_label }}">Last Name</label>
                        {{ reservation_form.last_name }}
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="title">Contact Information</h5>
              </div>
              <div class="card-body">
                  <div class="row">
                    <div class="col-md-4 pr-1">
                        <div class="form-group">
                            {{ reservation_form.contact_no.errors }}
                          <label for="{{ reservation_form.contact_no.id_for_label }}">Contact</label>
                          {{ reservation_form.contact_no }}
                        </div>
                      </div>
                      <div class="col-md-4 pl-1">
                          <div class="form-group">
                            {{ reservation_form.email.errors }}
                            <label for="{{ reservation_form.email.id_for_label }}">Email Address</label>
                            {{ reservation_form.email }}
                          </div>
                        </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ reservation_form.address.errors }}
                          <label for="{{ reservation_form.address.id_for_label }}">Address</label>
                          {{ reservation_form.address }}
                        </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="title">Reservation Information</h5>
              </div>
              <div class="card-body">
                  <div class="row">    
                    <div class="col-md-4 pr-1">
                        <div class="form-group">
                            {{ reservation_form.no_of_children.errors }}
                          <label for="{{ reservation_form.no_of_children.id_for_label }}">Number Of Children</label>
                          {{ reservation_form.no_of_children }}
                        </div>
                      </div>
                      <div class="col-md-4 pl-1">
                          <div class="form-group">
                            {{ reservation_form.no_of_adults.errors }}
                            <label for="{{ reservation_form.no_of_adults.id_for_label }}">Number Of Adults</label>
                            {{ reservation_form.no_of_adults }}
                          </div>
                        </div>
                        <div class="col-md-12 pl-1">
                            <p><a href="{% url 'rooms' %}" target="_blank">Click here to know about rooms</a> </p>
                        </div>
                        {{ reservation_form.rooms.errors }}
                        {{ reservation_form.rooms }}  
                  </div>
                  <input type="text" class="form-control" data-toggle="datetime" placeholder="Select date and time">

                    <div class="form-row align-items-center">
                        <div class="form-group col-auto">
                            {{ reservation_form.expected_arrival_date_time.errors }}
                            <label for="{{ reservation_form.expected_arrival_date_time.id_for_label }}"><br>Expected
                                Arrival: </label>{{ reservation_form.expected_arrival_date_time }}
                        </div>
                        <div class="form-group col-auto">
                            {{ reservation_form.expected_departure_date_time.errors }}
                            <label for="{{ reservation_form.expected_departure_date_time.id_for_label }}"><br>Expected
                                Departure: </label>{{ reservation_form.expected_departure_date_time }}
                        </div>
                    </div>
                    <input type="submit" value="Confirm Reservation">
              </div>
            </div>
          </div>
    </form>
    {% comment %}
    <form action="" method="post">
        {% csrf_token %}
        {{ reservation_form.as_p }}
        <input type="submit" class="btn btn-info" value="Confirm Reservation"/>
    </form>
    {% endcomment %}
{% endblock %}

{% block media-files %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'libs/flatpickr/dist/flatpickr.min.css' %}">
    <script src="{% static 'libs/flatpickr/dist/flatpickr.min.js' %}"></script>
{% endblock %}
